<template>
  <div class="home">

    <intro></intro>

   
    <login></login>
  </div>
</template>

<script>
// @ is an alias to /src

import Intro from "@/components/Intro.vue";
       
import Login from '@/components/Login.vue';


export default {
  name: "Home",
  components: {
    'intro': Intro, 
   
    
    'login' : Login
  }
};
</script>
