<template>
  <div class="features">
    <h3 class="work">How We Work</h3>
    <p class="para">It is a support application for our product and we are going to response with in 24 hours</p>
    <div class="works">
      <div class="container h-100">
        <div class="row h-100 justify-content-right">
          <div class="col-md-4">

            <div class="download">
                <img src="@/assets/products/questionn.png" alt="" />
                <h2>Listen From Clients</h2>
                <p>We are going to listen problems of different Clients</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="install">
                <img src="@/assets/products/eye.png" alt="" />
                <h2>Find The Problems</h2>
                <p>Find problems from the requests of Clients</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="phone">
                <img src="@/assets/products/right.png" alt="" />
                <h2>Provide Right Solution</h2>
                <p>Figure out the problems from the requests of clients and provide the apprprate crossponding solution</p>
            </div>
            </div>
          </div>
              </div>
              </div>
          
        <h3 class="some">SOME OF OUR FEATURES</h3>

    <div class="container h-100">
      <div class="row h-100 justify-content-left align-items-center">
        <div class="col-md-3">
          <div class="content">
            <h4 class="title"><strong>
             Dashboard Reports</strong>
            </h4>
            <p> 
                Our rich and simple dashboard 
                keeps you up-to-date on your 
                help desk statistics
            </p>
            <div class="image">
                <img src="@/assets/products/report.png" alt="" />
            </div>
            
            <h4 class="title">
                <strong>
                Configurable Help Topics
            </strong>
               </h4>
               <p> 
                Add, edit, and delete your help desk topics that suit your preference
               </p>
               <div class="images">
                <img src="@/assets/products/note.png" alt="" />
            </div>
               <h4 class="title">
                   <strong>
                Customer Support Portal
            </strong>
               </h4>
               <p> 
                Robust customer support portal 
                system to help your business
                 maintain happy customer 
                 relationships
               </p>
               <div class="images">
                <img src="@/assets/products/portal.png" alt="" />
            </div>
          
            
           
          </div>
        </div>
        
        
        <div class="col-md-3">
            <div class="contents">
                
              <h4 class="titles"><strong>
                Service Level Agreements</strong>
              </h4>
              <p> 
                Simply set your business hours 
                and our system will handle the 
                rest leaving you worry-free
              </p>
              <div class="imag">
                <img src="@/assets/products/alarm.png" alt="" />
            </div>
             
             
              <h4 class="titles">
                  <strong>
                    Ticket Filters
              </strong>
                 </h4>
                 <p> 
                    Our powerful ticket filtering system makes sure the right tickets goes to the right department leaving you with a clutter-free environment
                 </p>
                 <div class="folder">
                    <img src="@/assets/products/folder.png" alt="" />
                </div>
                
                 <h4 class="titles">
                     <strong>
                        And Much More!
              </strong>
                 </h4>
                 <p> 
                    osTicket comes pack with tons of awesome features you have to try out yourself
                 </p>
                 <div class="react">
                    <img src="@/assets/products/react.svg" alt="" />
                </div>
                
                 
              
             
            </div>
          </div>

        <div class="col-md-3">
           
            <div class="man">
                <img src="@/assets/products/man.jpg" alt="" />
            </div>
           
        </div>
        
          
      </div>
<div class="others">
      <div class="container h-100">
        <div class="row h-100 justify-content-right">
          <div class="col-md-4">

            <div class="download">
                <img src="@/assets/products/downloadsvg.png" alt="" />
                <h2>DOWNLOAD</h2>
                <p>Simply select what features you need in the downloads section</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="install">
                <img src="@/assets/products/installs.png" alt="" />
                <h2>INSTALL SOFTWARE</h2>
                <p>Install our software fast with our easy-to-follow installation process</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="phone">
                <img src="@/assets/products/phone.png" alt="" />
                <h2>READY TO USE</h2>
                <p>Our easy-to-use software will help you get started in no time</p>
            </div>
            </div>

              </div>
              </div>
            </div>
              </div>



    </div>
  
</template>

<script>
export default {
  components: {},

  data() {
    return {
      
    };
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
   

h3{
    color: red;
}
.content p{
 text-align: end;
 width: 200px;
 margin-left: 30px;

    
}
.content{
    margin-top: 0px;
}
 h4{
   margin-top: 120px;
}
.features{
    margin-top: 50px;
}
h4{
    margin-right: 30px;
    text-align: end;
}
img{
    width: 60px;
    height: 60px;
}
.image{
    margin-left: 250px;
    margin-top: -110px;
}
.images{
    margin-left: 250px;
    margin-top: -150px;
}
.imag{
    margin-left: -80px;
    margin-top: -140px;

}
.react{
    margin-left: -80px;
    margin-top: -120px;
}
.folder{
    margin-left: -80px;
    margin-top: -160px;
}
.contents{
text-align: start;
 width: 200px;
 margin-left: 600px;

}

.titles{
    margin-right: 0px;
    width: 200px;
    text-align: start;
}
.man img{
    height: 500px;
    width: 350px;
    margin-left: -250px;
    margin-top: 120px;
}
.others img{
  margin-top: 100px;
  width: 100px;
  height: 100px;

}

.others{
  width: 1500px;
  margin-left: -190px;
  margin-top: 150px;
  background-color: #380008;
  height: 400px;
 
}
.download h2{
  margin-top: 30px;
  color: black;
}
.install h2{
  margin-top: 30px;
  color: black;
}
.phone h2{
   color: black;
  margin-top: 30px;
}
.download p{
  
  color: black;
}
.install p{
 
  color: black;
}
.phone p{
   color: black;
  
}
.para{
margin-top: 40px;
}
.works img{
  margin-top: 30px;
  
}
.some{
  margin-top: 50px;
}



</style>
