<template>
  <div class="hello">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="/logged">
      Ticket Support
</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse topnav" id="navbarSupportedContent">
        <ul class="nav mr-auto justify-content-center">
          <li class="nav-item">
            <router-link to="/logged" class="nav-link home"> HOME </router-link>
          </li>
          
          <li class="nav-item">
            <div class="dropdown">
              <router-link to='' class="nav-link dropbtn ">Service</router-link>
              <div class="dropdown-content">
                <a href="/users">Add Ticket</a>
                <a href="#">Show Tickets</a>
                 
              </div>
            </div>
            
            
          </li>
          <li class="nav-item">
            
            <router-link to='' class="nav-link">About Us</router-link>
        </li>
         
          <li class="nav-item">
            <router-link to="" class="nav-link">Contact</router-link>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <a class="btn btn-outline-success my-2 my-sm-0"  href="/">
            Sign Up
          </a>
        </form>
      </div>
    </nav>
    <intro></intro>
  </div>
  <features></features>
</template>

<script>
import Intro from '../components/Intro.vue';
import Features from '../components/Features.vue';

export default {
  components: {
    'intro': Intro,
    'features' : Features,
    
  },

  data() {
    return {};
  },
  methods: {}
};
</script>

<style lang="scss" scoped>

  .topnav a:hover{
     color: orange;
     border-bottom: 5px solid orange;
   }
 
   li a{
    color: white;
   }
   
   .topnav a:active{
    color: orange;
    border-bottom: 5px solid orange;
       }
       .topnav .home{
        color: orange;
        border-bottom: 5px solid orange;

       }
       .dropbtn {

  color: white;
  margin-top: -2px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
 
}
img{
  height: 70px;
  margin-left: 80px;

}
.topnav{
  margin-left: 80px;
}
.body{
  margin-top: 70px;
  background-image: lightgray;
}
h4{
  color: #b40000;
}

</style>
