<template>
  <div class="intro">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-3">
            <h3>Add Ticket</h3>  
            <div class="row">
            <div >
                <label class="col-form-label col-form-label-lg label" >Your Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-lg">
            </div>
            <div >
                <label class="col-form-label col-form-label-lg email">Your Email <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-lg">
            </div>
            <div >
                <label class="col-form-label col-form-label-lg title">Title <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-lg">
            </div>
            <div >
                <label class="col-form-label col-form-label-lg content">Content <span class="text-danger">*</span></label>
                <textarea type="textarea" class="form-control form-control-lg"></textarea>
            </div>
            <div >
                <label class="col-form-label col-form-label-lg attach">Attachments <span class="text-danger">*</span></label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" />
            </div>
            <div class="col-12 form-group text-center">
                <button class="btn" style="background: orange;">Submit Ticket</button>
            </div>
        </div>
        </div>
       
      
      </div>
    
    
     </div>
  </div>
</template>

<script>
export default {
  components: {},

  data() {
    return {
      
    };
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
    .btn{
       margin-left: -280px; 
       margin-top: 30px;
       height: 50px;
    }
    .intro{
        margin-top: 20px;
    
       background-color: lightgray;
       width: 800px;
       margin-left: 400px;
      
    }
    input[type="text"]{
        width: 350px;
        margin-left: -100px;
    }
    input[type="file"]{
        width: 350px;
        margin-left: -100px;
    }
    textarea{
        width: 350px;
        margin-left: -100px;
    }
.label{
    margin-left: -330px;
}
.email{
    margin-left: -340px;
}
.title{
    margin-left: -400px;
}
.content{
    margin-left: -360px;
}
.attach{
    margin-left: -320px;
}


  

 

</style>
